.treeNode:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.05);
}

.treeNode.active {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.treeNodeList {
  position: relative;
}

.treeNodeListDivider {
  position: absolute;
  height: 100%;
  top: 0;
  border-left: 1px dashed rgba(var(--bs-secondary-rgb), 0.25);
}
