.leftSidebarBtn {
    border-left: 3px solid transparent !important;
    border-radius: 0 !important;
}

.leftSidebarBtn:hover {
    color: var(--bs-secondary-text-emphasis) !important;
}

.leftSidebarBtn.active {
    color: var(--bs-primary) !important;
    border-left: 3px solid var(--bs-primary) !important;
}
